.footer-section {
  position: relative;
  margin-top: 55px;

  @include media-breakpoint-up(lg) {
    margin-top: 120px;
  }
}

.gr-hover-text-green,
a.gr-hover-text-green {
  transition: 0.4s;
  
  &:hover {
    color: $secondary-color !important;
    text-decoration: underline;
    i {
      color: $secondary-color !important;
    }
  }
}

.gr-hover-text-blue,
a.gr-hover-text-blue {
  transition: 0.4s;

  &:hover {
    color: $primary-color !important;
    text-decoration: underline;
    i {
      color: $primary-color !important;
    }
  }
}

.social-icons {
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  li {
    a {
      margin-right: 20px;
    }

    @include tablet {
      i {
        transition: 0.4s;
      }

      &:hover {
        i {
          transform: translateY(-8px);
        }
      }
    }

    &:last-child {
      a {
        margin-right: 0;
      }
    }
  }
}
