.bg-default {
  background: var(--bg);
  &-1 {
    background: var(--bg);
  }
  &-2 {
    background: var(--bg-2);
  }
  &-3 {
    background: var(--bg-3);
  }
  &-4 {
    background: var(--bg-4);
  }
  &-5 {
    background: var(--bg-5);
  }
  &-6 {
    background: var(--bg-6);
  }
  &-7 {
    background: var(--bg-7);
  }
}
